// CSS Custom Properties
:root {
  // Colors

  // Primary

  --color-soft-blue: hsl(215, 52%, 70%);
  --color-cyan: hsl(178, 100%, 50%);

  // Neutral

  --color-Very-dark-blue-main-bg: hsla(216, 54%, 11%);
  --color-Very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-Very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

@mixin respond {
  @media only screen and (max-width: 425px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond() {
    font-size: 55%;
  }
}

body {
  height: 100vh;
  width: 100vw;

  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  color: #7d9bc4;
  background-color: var(--color-Very-dark-blue-main-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
