.nft-card {
  height: 59.5rem;
  width: 35rem;
  background-color: var(--color-Very-dark-blue-card-bg);
  overflow: hidden;
  border-radius: 12px;

  display: grid;
  grid-template-rows: 2.5fr 1fr 1fr;
  padding: 2.5rem;

  .nft-top {
    &__image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-image: url(../images/image-equilibrium.jpg);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &--icon {
        opacity: 0;
      }

      cursor: pointer;
      &:hover {
        background-image: linear-gradient(rgba(0, 230, 222, 0.6)),
          url(../images/image-equilibrium.jpg);

        .nft-top__image--icon {
          opacity: 1;
        }
      }
    }
  }

  .nft-mid {
    margin-top: 2.1rem;

    &__title {
      color: var(--color-white);
      font-size: 2.2rem;
      font-weight: 400;

      cursor: pointer;
      &:hover {
        color: var(--color-cyan);
      }
    }

    &__details {
      font-weight: 300;
      margin-top: 1.8rem;
      line-height: 1.4;
    }
  }

  .nft-bot {
    margin-top: 2.2rem;
    letter-spacing: 1px;

    &__labels {
      display: flex;
      justify-content: space-between;
    }

    &__token {
      display: flex;
      align-items: center;
      gap: 6px;

      &--text {
        color: var(--color-cyan);
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    &__days {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;

      gap: 6px;

      &--icon {
        display: flex;
        align-items: center;
      }
    }

    &__line {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 1.8rem;
      height: 1px;
      background: var(--color-Very-dark-blue-line);
    }

    &__user {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      font-size: 1.4rem;

      &--image {
        height: 3.3rem;
        width: 3.3rem;
        border: 1px solid white;
        border-radius: 50%;
      }

      &--details {
        display: inline-block;
        transform: scale(1, 1.1);
      }

      & span {
        color: var(--color-white);
        cursor: pointer;
        &:hover {
          color: var(--color-cyan);
        }
      }
    }
  }
}
